body{
    font-size: 1.2em;
    width:100%;
    margin: 0 auto;
    letter-spacing: 1.5px;
    color: white;
    
}
h1{
    text-align: center;
}
#head{
    color: white;
}
#container{
    padding: 1.5em;
    background-color: black;
  border-radius: 10px;
}
div{
    line-height: 2.5em;
}
input[type="text"]{
    font-size: 1.5em;
    text-align: center;
}
label, input{
width: 100% ;
}
@media (min-width:700px){
    body{
        width:60%;
        background: url(background.jpg) no-repeat center center fixed;
        background-size: cover;
        margin-top: 20px;
    }
    #container{
        opacity: 0.9;
    }
    label,input{
        display: inline-block;
        width:40%;
    }
    div{
        line-height: 4em;
    }
        }
